ol {
  background-color: yellow;
}

ol li:nth-of-type(even) {
  color: green;
}

ol li:nth-of-type(odd) {
  text-transform: uppercase;
}

h1, h3 {
  color: red;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

li em {
  font-weight: 700;
}

.programacao li:nth-of-type(-n+3) {
  color: blue;
}

.pink-bg {
  background-color: pink;
}

.link:hover {
  font-weight: 700;
}

.link li a[href*="stackoverflow"] {
  color: orange;
}

.link li a[href*="w3schools"] {
  color: green;
}

.link li a[href*="MDN Web Docs"] {
  color: black;
}

.link li a[href*="DevDocs"] {
  color: yellow;
}

.link li a[href*="Trybe"] {
  color: green
}